<div id="myCarousel" class="carousel slide banner-slider animated bounceInDown" data-ride="carousel">
   <div class="carousel-inner">
      <!-- Item 1 -->
      <div class="item active">
         <%=image_tag("back5.png", alt: "banner", usemap: "test_map")%>
         <map name="test_map">
            　
            <area shape="rect" coords="0,150,500,300" href= "<%= new_project_path %>" >            
         </map>
      </div>
      <!-- #Item 1 -->
      <!-- Item 1 -->
      <div class="item">
         <%=image_tag("back6.jpeg", alt: "banner")%>
      </div>
      <!-- #Item 1 -->
      <!-- Item 1 -->
      <div class="item">
         <%=image_tag("back7.jpg", alt: "banner")%>
      </div>
      <!-- #Item 1 -->
      <!-- Item 1 -->
      <div class="item">
         <%=image_tag("back8.jpeg", alt: "banner")%>
      </div>
      <!-- #Item 1 -->
   </div>
   <a class="left carousel-control" href="#myCarousel" data-slide="prev">
   <span class="glyphicon-chevron-left">
   <i class="fa fa-angle-left"></i>
   </span>
   </a>
   <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon-chevron-right"><i class="fa fa-angle-right"></i></span></a>
</div>
