<!-- #Header Starts -->
<div id="home">
<!-- Slider Starts -->
<%= render "slider" %>
<!-- #Slider Ends -->
</div>
<!-- Cirlce Starts -->
<div id="about"  class="container spacer about">
<h2 class="text-center wowload fadeInUp">理想、創意與夢想的實踐者</h2>
  <div class="row">
  <div class="col-sm-6 wowload fadeInLeft">
    <h4><i class="fa fa-camera-retro"></i> 我們提供 </h4>
    <p>Creative digital agency for sleek and sophisticated solutions for mobile, websites and software designs, lead by passionate and uber progressive team that lives and breathes design. Creative digital agency for sleek and sophisticated solutions for mobile, websites and software designs.</p>


  </div>
  <div class="col-sm-6 wowload fadeInRight">
  <h4><i class="fa fa-coffee"></i> 我們保證 </h4>
  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
  </div>
  </div>
</div>
<!-- #Cirlce Ends -->

<!-- works -->
<div id="works"  class=" clearfix grid">
  <% @projects.each do |project| %>
    <figure class="effect-oscar  wowload fadeInUp">
        <% if project.photo.present? %>
          <%= image_tag(project.photo.image.url, alt: "img01") %>
        <% else %>
          <%= render_random_image %>
        <% end %>
        <figcaption>
            <h2><%= project.target %></h2>
            <p><%= project.subtarget %><br>
              進度 <%= render_complete_rate(project) %> %
              <br>
              <%= link_to("View more", project_path(project)) %>
            </p>
        </figcaption>
    </figure>
  <% end %>
</div>
<!-- works -->

<div id="partners" class="container spacer ">
	<h2 class="text-center  wowload fadeInUp">Some of our happy clients</h2>
  <div class="clearfix">
    <div class="col-sm-6 partners  wowload fadeInLeft">
      <%=image_tag("partners/1.jpg", alt: "partners")%>
      <%=image_tag("partners/2.jpg", alt: "partners")%>
      <%=image_tag("partners/3.jpg", alt: "partners")%>
      <%=image_tag("partners/4.jpg", alt: "partners")%>
    </div>
    <div class="col-sm-6">


    <div id="carousel-testimonials" class="carousel slide testimonails  wowload fadeInRight" data-ride="carousel">
    <div class="carousel-inner">
      <div class="item active animated bounceInRight row">
      <div class="animated slideInLeft col-xs-2">
        <%=image_tag("team/1.jpg", alt: "portfolio", class: "img-circle img-responsive", width:"100")%>
      </div>
      <div  class="col-xs-10">
      <p> I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. </p>
      <span>Angel Smith - <b>eshop Canada</b></span>
      </div>
      </div>
      <div class="item  animated bounceInRight row">
      <div class="animated slideInLeft col-xs-2">
        <%=image_tag("team/2.jpg", alt: "portfolio", class: "img-circle img-responsive", width:"100")%>
      </div>
      <div  class="col-xs-10">
      <p>No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful.</p>
      <span>John Partic - <b>Crazy Pixel</b></span>
      </div>
      </div>
      <div class="item  animated bounceInRight row">
      <div class="animated slideInLeft  col-xs-2">
        <%=image_tag("team/3.jpg", alt: "portfolio", class: "img-circle img-responsive", width:"100")%>
      </div>
      <div  class="col-xs-10">
      <p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble that are bound to ensue.</p>
      <span>Harris David - <b>Jet London</b></span>
      </div>
      </div>
  </div>

   <!-- Indicators -->
   	<ol class="carousel-indicators">
    <li data-target="#carousel-testimonials" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-testimonials" data-slide-to="1"></li>
    <li data-target="#carousel-testimonials" data-slide-to="2"></li>
  	</ol>
  	<!-- Indicators -->
  </div>

    </div>
  </div>


<!-- team -->
<%= render "team" %>
<!-- team -->

</div>

<!-- About Starts -->
<div class="highlight-info">
<div class="overlay spacer">
<div class="container">
<div class="row text-center  wowload fadeInDownBig">
	<div class="col-sm-3 col-xs-6">
	<i class="fa fa-smile-o  fa-5x"></i><h4>24 Clients</h4>
	</div>
	<div class="col-sm-3 col-xs-6">
	<i class="fa fa-rocket  fa-5x"></i><h4><%= @projects.count %> Projects</h4>
	</div>
	<div class="col-sm-3 col-xs-6">
	<i class="fa fa-cloud-download  fa-5x"></i><h4>454 Downloads</h4>
	</div>
	<div class="col-sm-3 col-xs-6">
	<i class="fa fa-map-marker fa-5x"></i><h4>2 Offices</h4>
	</div>
</div>
</div>
</div>
</div>
<!-- About Ends -->

<a href="#home" class="gototop "><i class="fa fa-angle-up  fa-3x"></i></a>


<!-- jquery -->
<script src="assets/jquery.js"></script>

<!-- wow script -->
<script src="assets/wow/wow.min.js"></script>


<!-- boostrap -->
<script src="assets/bootstrap/js/bootstrap.js" type="text/javascript" ></script>

<!-- jquery mobile -->
<script src="assets/mobile/touchSwipe.min.js"></script>
<script src="assets/respond/respond.js"></script>

<!-- gallery -->
<script src="assets/gallery/jquery.blueimp-gallery.min.js"></script>

<!-- custom script -->
<script src="assets/script.js"></script>
