<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="row">
      <h2>登月計劃精靈</h2>
      <%= link_to("刪除計劃", project_path(@project), method: :delete, class: "btn btn-danger pull-right") %>      
    </div>
    <%= render "projects/project" %>
    <%= render "projects/reallife" %>
    <%= render "projects/progress" %>

    <div class="form-group">
      <%= simple_form_for(@project) do |f| %>
        <%= f.simple_fields_for :notify do |c| %>
          <legend>寄送提醒郵件</legend>
          <div class="form-group col-lg-6">
            <%= c.input :email %>
          </div>
        <% end %>
        <div class="form-group">
          <%= f.submit "計劃建立完成", class: "btn btn-lg btn-danger pull-right",
              data:{disable_with: "完成中..."}%>
        </div>
      <% end %>
    </div>

  </div>
</div>
