<!DOCTYPE html>
<html>
<head>
  <title>Moon Project</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'fullmoon.png' %>
</head>
<body>
  <%= render "common/navbar" %>
  <%= yield %>
  <%= render "common/footer" %>
  <%= javascript_include_tag 'application'%>
</body>
</html>
